@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply divide-dark border-dark text-dark shadow-dark;
  }

  html {
    @apply h-full bg-background font-common text-base;
  }

  body {
    @apply h-full;
  }

  article {
    @apply h-full;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  display: flex;
  flex-grow: 1;
}
